PORT=3003
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=
DB_NAME=saphiro-inmobiliaria
JWT_SECRET=
CLIENT_BASE_URL=https://saphiro-inmob-prueba.duckdns.org
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
